/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* general style */
.container {
  border: 1px solid black;
  max-width: 360px;
  margin: 3rem auto;
}

h1 {
  background-color: rgb(2, 104, 2);
  font-size: 2rem;
  text-align: center;
  color: antiquewhite;
  padding: 1rem;
}
button {
  margin: 0 auto;
  padding: 0.3rem 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  margin: 0.5rem;
  background-color: black;
  color: white;
  border: none;
}
span {
  margin-top: 1rem;
  background-color: red;
  color: antiquewhite;
}
.user {
  margin-top: 1rem;
}
.user-icons {
  display: flex;
  justify-content: space-evenly;
  padding: 2rem;
}
.user-icons li {
  font-size: 3rem;
}
.selected {
  background-color: indianred;
}
.computer {
  margin-top: 1rem;
}
.computer-icons {
  background-color: lemonchiffon;
  display: flex;
  justify-content: space-evenly;
  padding: 2rem;
}
.computer-icons li {
  font-size: 3rem;
  color: red;
}
.result {
  text-align: center;
  font-size: 2rem;
  color: green;
  border: 1px solid black;
  padding: 1rem;
}
