/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* general styling */

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  font-family: sans-serif;
}

.container {
  max-width: 50%;
  margin: 3rem auto;
  text-align: center;
}

/* styling header ---------------------------------------------------------------------*/
h1 {
  text-align: center;
  text-transform: capitalize;
  font-size: 3rem;
  font-weight: 800;
  color: rgba(0, 0, 0, 0.589);
  margin-bottom: 1rem;
  line-height: 1.5;
}

input::placeholder {
  font-size: 1rem;
  font-weight: 600;
  font-style: italic;
  color: rgb(194, 199, 204);
}

input:focus {
  outline: none;
}

.list-input {
  width: 80%;
  padding: 1rem;

  border: none;
  font-size: 1.5rem;
  box-shadow: 0 0 10px 6px rgba(0, 0, 0, 0.137);
}

img {
  vertical-align: middle;
  width: 15%;
}

/* styling main -------------------------------------------------------------------------------------------------*/
.todolist {
  display: block;
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.todolist li {
  background-color: white;

  position: relative;
  text-align: left;
  padding: 1rem;

  font-weight: 500;

  border-bottom: 1px solid rgba(221, 217, 217, 0.801);
}

label {
  display: inline-block;
  font-size: 1.2rem;
  margin-left: 0.5rem;
  vertical-align: middle;
}
label:hover {
  cursor: pointer;
}

span {
  float: right;
}
span:hover {
  cursor: pointer;
  font-size: larger;
}
.showbox {
  -webkit-transition: 1s ease-in-out;
  -moz-transition: 1s ease-in-out;
  -o-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}
.showbox.slideright:hover {
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}

/* styling footer -------------------------------------------------------------------------------------------*/
.filters {
  background-color: white;
  text-align: right;
  margin-left: 4rem;
  padding: 0.5rem;
  display: block;
  width: 80%;
  margin: 0 auto;
}

.selected {
  border: 1px solid rgb(15, 14, 14);
  color: black;
  background-color: rgb(107, 168, 230);
}

.filters li {
  display: inline-block;
}

button {
  border: none;
  border-radius: 2px;
  font-weight: 800;
  font-size: 0.8rem;
  padding: 0.3rem 0.5rem;
  background-color: rgba(219, 42, 19, 0.699);
}
button:hover {
  cursor: pointer;
}
a {
  text-decoration: none;
  font-size: 0.8rem;
  color: white;
  margin-right: 1rem;
  border-radius: 2px;
  background-color: rgba(107, 168, 230, 0.603);
  padding: 0.3rem 0.5rem;
  font-weight: 800;
}

/* styled checkbox */
.styled-checkbox {
  position: absolute;
  opacity: 0;
}
.styled-checkbox + label:before {
  position: relative;
  cursor: pointer;
  padding: 0;
}

.styled-checkbox + label:before {
  content: "";
  margin-right: 10px;
  display: inline-block;
  vertical-align: text-top;
  width: 30px;
  height: 30px;
  vertical-align: middle;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.336);
  background: rgb(248, 246, 246);
}

.styled-checkbox:hover + label:before {
  background: #4df096;
}

.styled-checkbox:focus + label:before {
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
}

.styled-checkbox:checked + label:before {
  background: #4df096;
}

.styled-checkbox:disabled + label {
  color: #b8b8b8;
  cursor: auto;
}

.styled-checkbox:disabled + label:before {
  box-shadow: none;
  background: #ddd;
}

.styled-checkbox:checked + label:after {
  content: "✔";
  position: absolute;
  left: 31px;
  top: 17px;
  color: white;
  background: #4df09600;
  width: 2px;
  height: 2px;
}
